* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
  }

  button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(58, 75, 224, 0.954) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

  header {
    padding: 40px;
    text-align: center;
    background: #809eb9;
    color: black;
    border-bottom:30px #879274;
  }

  .large-font {
    font-size: 3em;
    text-align:center;
  }
  